.doppio-one-regular {
  font-family: "Doppio One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.carousel-item img {
  border-radius: 50px; /* Membuat gambar menjadi bulat */
}

hr {
  border: 0;
  height: 2.5px;
  background: black;
  margin: 20px 0;
}

.carousel-caption {
  position: relative;
  color: #fff; /* Warna teks putih */
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
}
